<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="details content">
    <h2><%= blog.title %></h2>
    <div class="content">
      <p><%= blog.body %></p>
    </div>
    <a class="delete" data-doc="<%= blog._id %>">
      <img src="/trashcan.svg" alt="delete icon">
    </a>
  </div>

  <% if (currentUser != "visitor") { %>
    <div class="details-comments">
      <form action="/blogs/<%= blog._id %>" method="POST">
        <textarea id="comment-body" name="body" placeholder="Write your comment here..." required></textarea>
        <button>Post Comment</button>
      </form>
    </div>
  <% } %>

  <% if (comments.length > 0) { %>
    <% comments.forEach(comment => { %>
      <!--LATER ON, USE THIS TO HYPERLINK TO A USER'S PROFILE FROM THE COMMENTS-->
      <!--<a class="single" href="/users/%= user._id %>">-->
        <h3 class="author"><%= comment.author %></h3>
        <p class="comment-body"><%= comment.body %></p>
      <!--</a>-->
      <% }) %>
  <% } %>

  <%- include("../partials/footer.ejs") %>

  <script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/blogs/${trashcan.dataset.doc}`;
      // The FETCH method makes a DEL-request to the '/blogs' URI (i.e. the '.dataset.doc' attribute)
      // THEN it translates the Response from a JSON-object into a Java-object named 'data'
      // THEN window.location.href prompts a redirect which URI is present within the 'redirect' property
      // which has been supplied inside the 'data' object
      // CATCHES any error and logs it onto the console
      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>
</body>
</html>